body{
    background-color: rgba(0, 0, 0, 0.0001);
    width: 1280px;
}

.menu-header{
    text-align: center;
    display: inline;
    width: 620px;
    height: 15px;
    top: 31.5px;
}

.menu-header li{
    display: inline-block;
    list-style-type: none;
    width: auto;
    height: 27px;
    left: auto;
    top: -6px;
    align-items: center;
    margin: 0 36px;
}

.menu-header li a{
    text-decoration: none;
    font-family: 'Montserrat';
    color: #FF0000;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.picture{
    width: 1280px;
    height: 789px;
    top: 78px;
    }

.title{
    width: 774px;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 48px 253px 0 253px;
    text-align: center;
}

.text-box{
    width: 1145px;
    margin:0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.text-box-one{
    margin-top: 38px;
}

.text-box-one{
    margin-top: 28px;
}

.btn{
    background: #FF0000;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-color: #FF0000;
    padding: 18px 42px;
    margin: 66px auto 42px auto;
    display: block;
}

.page-footer{
    width: 1070px;
    height: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 40px 105px 29px 105px;
    text-align: right;
}



